Repository gnimty/backend-community-service, pull requests merged in 2024-02, with the labels that each got.

#153 Config/#148 embedded db test
  .github/workflows/main.yml
  build.gradle
  src/main/java/com/gnimty/communityapiserver/global/config/MongoDBConfiguration.java
  src/main/resources/application.yml
  src/test/java/com/gnimty/communityapiserver/config/RedisTestConfig.java
  src/test/java/com/gnimty/communityapiserver/domain/chat/service/ChatRoomServiceTest.java
  src/test/java/com/gnimty/communityapiserver/domain/chat/service/ChatServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/ServiceTestSupport.java
  src/test/resources/application-test.yml
Labels: Chore, Test

#152 Chore/#151 로깅 환경 구축
  src/main/java/com/gnimty/communityapiserver/global/filter/HttpLog.java
  src/main/java/com/gnimty/communityapiserver/global/filter/RequestResponseLoggingFilter.java
  src/main/resources/application.yml
Labels: Chore

#155 Refactor/#110 web client refactoring
  src/main/java/com/gnimty/communityapiserver/domain/championcomments/service/ChampionCommentsService.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentsreport/controller/dto/request/ChampionCommentsReportRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentsreport/entity/ChampionCommentsReport.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/IntroductionUpdateRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/MyProfileMainUpdateRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/MyProfileUpdateRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/PreferGameModeUpdateRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/SummonerUpdateEntry.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/request/SummonerUpdateRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/MemberService.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/utils/GoogleOauthUtil.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/utils/KakaoOauthUtil.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/utils/RiotOauthUtil.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/controller/dto/request/RecommendedSummonersRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/controller/dto/response/RecentlySummonersEntry.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/repository/RiotAccountJdbcRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/service/RiotAccountService.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/service/utils/RiotAccountUpdateUtil.java
  src/main/java/com/gnimty/communityapiserver/domain/schedule/controller/dto/request/ScheduleRequest.java
  src/main/java/com/gnimty/communityapiserver/global/auth/JwtProvider.java
  src/main/java/com/gnimty/communityapiserver/global/config/WebClientWrapper.java
  src/main/java/com/gnimty/communityapiserver/global/config/async/AfterRiotAccountCommitEvent.java
  src/main/java/com/gnimty/communityapiserver/global/config/async/GlobalAsyncConfiguration.java
  src/main/java/com/gnimty/communityapiserver/global/config/async/RiotAccountAsyncConfiguration.java
  src/main/java/com/gnimty/communityapiserver/global/constant/Auth.java
  src/main/java/com/gnimty/communityapiserver/global/constant/WebClientType.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/GoogleTokenInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/GoogleUserInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoAccountInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoEmailInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoTokenInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/RecentMemberDto.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/RecentMemberInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/RiotAccountInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/RiotTokenInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerDto.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerResponse.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerTierDto.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/VersionData.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/VersionInfo.java
  src/main/java/com/gnimty/communityapiserver/global/exception/ErrorCode.java
  src/main/java/com/gnimty/communityapiserver/global/utils/WebClientUtil.java
  src/test/java/com/gnimty/communityapiserver/service/championcomments/ChampionCommentsServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/riotaccount/RiotAccountServiceTest.java
Labels: Chore, Fix, Refactor

#157 Feat/#156 member up count read
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/MemberController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/dto/response/UpCountResponse.java
  src/main/java/com/gnimty/communityapiserver/domain/member/repository/MemberQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/MemberReadService.java
  src/main/java/com/gnimty/communityapiserver/global/constant/ApiDescription.java
  src/main/java/com/gnimty/communityapiserver/global/constant/ApiSummary.java
  src/test/java/com/gnimty/communityapiserver/controller/member/MemberControllerTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/MemberReadServiceTest.java
Labels: Docs, Feature, Test

#162 Fix/#159 jwt generation strategy
  src/main/java/com/gnimty/communityapiserver/domain/block/controller/BlockController.java
  src/main/java/com/gnimty/communityapiserver/domain/championcomments/controller/ChampionCommentsController.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentslike/controller/ChampionCommentsLikeController.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentsreport/controller/ChampionCommentsReportController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/AuthController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/MemberController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/AuthService.java
  src/main/java/com/gnimty/communityapiserver/domain/memberlike/controller/MemberLikeController.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/controller/RiotAccountController.java
  src/main/java/com/gnimty/communityapiserver/global/auth/JwtProvider.java
  src/main/java/com/gnimty/communityapiserver/global/constant/ApiDescription.java
  src/main/java/com/gnimty/communityapiserver/global/constant/ResponseMessage.java
  src/main/java/com/gnimty/communityapiserver/global/exception/ErrorCode.java
  src/main/java/com/gnimty/communityapiserver/global/filter/HttpLog.java
  src/main/java/com/gnimty/communityapiserver/global/handler/GlobalExceptionHandler.java
  src/main/java/com/gnimty/communityapiserver/global/handler/StompHandler.java
  src/main/java/com/gnimty/communityapiserver/global/interceptor/TokenAuthInterceptor.java
  src/main/resources/application.yml
  src/test/java/com/gnimty/communityapiserver/controller/member/AuthControllerTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/AuthServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/riotaccount/RiotAccountServiceTest.java
Labels: Fix, Test

#160 refactor: 채팅 서비스 날짜 타입 변경
  .github/workflows/main.yml
  src/main/java/com/gnimty/communityapiserver/CommunityapiserverApplication.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/controller/dto/ChatDto.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/controller/dto/ChatRoomDto.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/controller/dto/MessageRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/entity/Chat.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/entity/ChatRoom.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/repository/Chat/ChatRepositoryCustom.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/repository/Chat/ChatRepositoryImpl.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/repository/ChatRoom/ChatRoomRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/repository/ChatRoom/ChatRoomRepositoryImpl.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/service/ChatRoomService.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/service/ChatService.java
  src/main/java/com/gnimty/communityapiserver/domain/chat/service/StompService.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/AuthController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/repository/MemberQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/repository/RiotAccountQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/global/config/MongoDBConfiguration.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/GoogleTokenInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/GoogleUserInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoAccountInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoEmailInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/KakaoTokenInfo.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerDto.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerResponse.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/SummonerTierDto.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/VersionData.java
  src/main/java/com/gnimty/communityapiserver/global/dto/webclient/VersionInfo.java
  src/main/java/com/gnimty/communityapiserver/global/handler/GlobalExceptionHandler.java
  src/test/java/com/gnimty/communityapiserver/domain/chat/service/ChatRoomServiceTest.java
  src/test/java/com/gnimty/communityapiserver/domain/chat/service/ChatServiceTest.java
  src/test/java/com/gnimty/communityapiserver/domain/chat/service/StompServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/block/BlockReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/block/BlockServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcomments/ChampionCommentsReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcommentslike/ChampionCommentsLikeReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcommentslike/ChampionCommentsLikeServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcommentsreport/ChampionCommentsReportServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/introduction/IntroductionReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/AuthServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/MemberServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/memberlike/MemberLikeReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/memberlike/MemberLikeServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/oauthinfo/OauthInfoReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/prefergamemode/PreferGameModeReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/riotaccount/RiotAccountServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/schedule/ScheduleReadServiceTest.java
Labels: Fix, Refactor

#166 Feat/#164 champion id scheduler
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/service/utils/ChampionInfoUtil.java
  src/test/java/com/gnimty/communityapiserver/service/championcomments/ChampionCommentsReadServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcomments/ChampionCommentsServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/championcommentslike/ChampionCommentsLikeServiceTest.java
Labels: Test

#167 Fix/#163 redis 저장된 값 cache 사용하도록 변경
  Dockerfile
  build.gradle
  docker-compose-dev.yml
  src/main/java/com/gnimty/communityapiserver/CommunityapiserverApplication.java
  src/main/java/com/gnimty/communityapiserver/domain/member/controller/MemberController.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/AuthService.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/MemberService.java
  src/main/java/com/gnimty/communityapiserver/global/config/CacheConfiguration.java
  src/main/java/com/gnimty/communityapiserver/global/constant/CacheType.java
  src/main/java/com/gnimty/communityapiserver/global/utils/CacheService.java
  src/main/resources/application.yml
  src/test/java/com/gnimty/communityapiserver/controller/block/BlockControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/championcomments/ChampionCommentsControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/championcommentslike/ChampionCommentsLikeControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/championcommentsreport/ChampionCommentsReportControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/member/AuthControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/member/MemberControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/memberlike/MemberLikeControllerTest.java
  src/test/java/com/gnimty/communityapiserver/controller/riotaccount/RiotAccountControllerTest.java
  src/test/java/com/gnimty/communityapiserver/service/block/BlockServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/AuthServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/member/MemberServiceTest.java
  src/test/java/com/gnimty/communityapiserver/service/utils/CacheServiceTest.java
Labels: Chore, Fix, Test, Enhance

#171 Enhance/#161 채팅 로깅 작업, 세션 관리
  src/main/java/com/gnimty/communityapiserver/domain/chat/controller/ChatController.java
  src/main/java/com/gnimty/communityapiserver/global/config/StompConfiguration.java
  src/main/java/com/gnimty/communityapiserver/global/connect/SessionInfo.java
  src/main/java/com/gnimty/communityapiserver/global/connect/WebSocketSessionManager.java
  src/main/java/com/gnimty/communityapiserver/global/constant/CacheType.java
  src/main/java/com/gnimty/communityapiserver/global/filter/HttpLog.java
  src/main/java/com/gnimty/communityapiserver/global/filter/RequestResponseLoggingFilter.java
  src/main/java/com/gnimty/communityapiserver/global/handler/StompHandler.java
  src/main/java/com/gnimty/communityapiserver/global/handler/StompLog.java
  src/main/resources/application.yml
Labels: Feature, Enhance

#169 Bug/#168 upCount, report, block 동시성 이슈 제어
  src/main/java/com/gnimty/communityapiserver/domain/base/controller/Controller.java
  src/main/java/com/gnimty/communityapiserver/domain/block/entity/Block.java
  src/main/java/com/gnimty/communityapiserver/domain/championcomments/entity/ChampionComments.java
  src/main/java/com/gnimty/communityapiserver/domain/championcomments/service/ChampionCommentsReadService.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentslike/service/ChampionCommentsLikeService.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentsreport/entity/ChampionCommentsReport.java
  src/main/java/com/gnimty/communityapiserver/domain/member/entity/Member.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/MemberReadService.java
  src/main/java/com/gnimty/communityapiserver/domain/memberlike/service/MemberLikeService.java
  src/main/java/com/gnimty/communityapiserver/global/aop/Retry.java
  src/main/java/com/gnimty/communityapiserver/global/aop/RetryAspect.java
  src/main/java/com/gnimty/communityapiserver/global/exception/ErrorCode.java
  src/main/java/com/gnimty/communityapiserver/global/handler/GlobalExceptionHandler.java
Labels: Bug

#173 Bug/#172 듀오 추천 소환사 조회 쿼리 수정
  src/main/java/com/gnimty/communityapiserver/domain/block/repository/BlockQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/championcommentslike/repository/ChampionCommentsLikeQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/member/service/dto/response/IntroductionEntry.java
  src/main/java/com/gnimty/communityapiserver/domain/memberlike/repository/MemberLikeQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/oauthinfo/repository/OauthInfoQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/controller/dto/request/RecommendedSummonersRequest.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/repository/RiotAccountQueryRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/riotaccount/repository/RiotAccountRepository.java
  src/main/java/com/gnimty/communityapiserver/domain/schedule/controller/dto/request/ScheduleEntry.java
  src/main/java/com/gnimty/communityapiserver/global/constant/ApiDescription.java
  src/main/java/com/gnimty/communityapiserver/global/filter/RequestResponseLoggingFilter.java
  src/main/java/com/gnimty/communityapiserver/global/validation/annotation/ValidateCursor.java
  src/main/java/com/gnimty/communityapiserver/global/validation/validator/SummonerCursorValidator.java
  src/test/java/com/gnimty/communityapiserver/controller/riotaccount/RiotAccountControllerTest.java
  src/test/java/com/gnimty/communityapiserver/service/riotaccount/RiotAccountReadServiceTest.java
Labels: Bug, Chore, Test
